@import 'vars';

.community-profile-wrapper{  
  background-color: $color-light-gray;
  border: 1px solid $color-medium-gray;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}

.person {
  img {
    border-radius: 100px;
    height: 100px;
    margin: 8px auto;
    width: 100px;
  }

  h2 {
    font-size: 18px;
    letter-spacing: .5px;
    margin: 5px auto;
  }
}