@import 'vars';
.login-page{
  height: 100vh;
  width: 100vw;
  background-color: #eee;
  position: relative;
}
.login-container{
    position: absolute;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    a{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      // margin-top: 1em;
      background-color: grey;
      border: none;
      border-radius: 3px;
      padding: 10px;
      color: white;
      background-color:  #3B5998;
      position: absolute;
    }
  .login-banner{
    height: 30%;
    width: 100%;
    background-image: url('../assets/login-banner.png');
    background-position: center;
    background-size: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  form{
    height: 70%;
    width: 100%;
    background: white;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    // text-align: center;
    .input-container{
      width: 80%;
      margin: auto;
      margin-top: 1em;
      label{
        display: inline-block;
        box-sizing: border-box;
        width: 30%;
        padding: 5px 10px 5px 0;
        font-weight: 300;
        color: #595959;
        text-align: right;
      }
      input{
        width: 70%;
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid #ececec;
        color: #595959;
        background-color: white;
        transition: 400ms;
      }
      input:focus{
        border-bottom: 2px solid #3DBB3D;
        outline: none;
      }
      .input-error{
        border-bottom: 2px solid #DB4437;
      }
    }
    .options-container{
      width: 80%;
      margin: auto;
      .options-spacer{
        width: 70%;
        margin-left: 30%;
        margin-top: 1em;
        div{
          display: inline-block;
          float: left;
          input{
            color: #3DBB3D
          }
          span{
            color: #595959;
          }
        }
        .options-right{
          float: right;
          span{
            transition: 400ms;
          }
          span:hover{
            color: #3DBB3D;
          }
        }
      }
    }
    .button-container{
      width: 80%;
      margin: auto;
      clear: both;
      .button-spacer{
        width: 70%;
        margin-left: 30%;
        margin-top: 1em;

        .concur-buton{
          background-color: #3B5998;
          // float: right;
          margin-left: 1em;
        }
      }
    }
  }
}

.login-button{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  border: none;
  border-radius: 3px;
  padding: 14px;
  font-size: 1.5em;
  height: 30px;
  line-height: 30px;
  color: white;
  background-color: $color-green;
  position: absolute;
}
