@import 'vars';

.desktop-nav {
  background-color: $color-green;
  height: 100px;
  top: 0;
  width: 100%;
  z-index: 100;

}

.nav-wrapper {
  // display: flex;
  height: 100%;
  // justify-content: space-evenly;
  margin: auto;
  // width: 50%;
  img{
    float: left;
    height: 100px;
  }
  a {
    align-items: center;
    color: $color-light-gray;
    // display: flex;
    font-size: 18px;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    transition: 250ms;
    // width: 20%;
    display: inline-block;
    float: left;
    line-height: 100px;
  }

  a:hover {
    // font-weight: 800;
    color: #fff;
  }

  .active {
    color: #fff;
    font-weight: 500;
  }
}
