@import 'vars';

// .logo {
//   z-index: 1500;
//   position: absolute;
//   top: 40px;
//   margin: auto;
//   right: 449px;
//   font-weight: bold;
  
//   a {
//     color: #2d2d2d;
//     font-size: 40px;
//     text-decoration: none;
//   }
// }

.navbar {
  background-color: #fff;
  border-bottom: $color-medium-gray;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 17px;
  left: 20px;
  top: 17px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $color-dark-gray;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: absolute !important;
  left: 19px !important;
  top: 8px !important
}

/* Color/shape of close button cross */
.bm-cross {
  background: $color-dark-gray;
  height: 25px !important;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 0 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  margin-top: 3px;
}

/* Individual item */
.bm-item {
  border: solid;
  border-color: $color-medium-gray;
  border-width: 0 0 .1px 0;
  color: #2d2d2d;
  display: inline-block;
  font-size: 18px;
  padding: 25px;
  padding-left: 55px;
  text-decoration:  none;
  width: 100%;
}

.bm-item:first-of-type {
  border-top: 1px solid $color-medium-gray;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

span.bm-cross {
  height: 40px;
  width: 3px;
}

.bm-item.menu-item:hover{
  background-color: $color-light-gray;
}