.trip-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  .trip-content{
    width: 90%;
    height: 90vh;
    margin: 5vh auto;
    background: #fff;
    position: relative;
    .button-content-container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 90%;
      .content-continer{
        display: inline-block;
        width: 70%;

        h3{
          padding: 10px;
        }
        h4{
          // padding: 10px;
        }
        div{
          padding: 10px;
        }
        .inline{
          display: inline-block;
        }
        .arrival-departure-label{
          display: inline-block;
          width: 100px;
        }
      }
      .button-container{
        display: inline-block;
        width: 30%;
        input + label {
          width: 130px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          // font-size: 1.25em;
          color: white;
          background-color: grey;
          display: inline-block;
          cursor: pointer;
        }
        input:focus + label,
        input + label:hover {
            background-color: $color-green;
        }
        input{
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
        label{

        }
        .trip-button{
          width: 130px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          background: $color-green;
        }
        .close-modal-button{
          background: red;
        }
      }
    }
  }
}
