@import 'vars';

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  button{
    position: absolute;
    top: -10px;
    left: -70px;
  }
}

.linkedin-profile-photo {
  border-radius: 100px;
  height: 150px;
  margin: 8px auto;
  width: 150px;
}

.linkedin-name{
  font-size: 25px;
  letter-spacing: .5px;
  margin: 5px auto;
  text-align: 16px;
}

.linkedin-location {
  font-style: italic;
  margin: 5px auto;
}

.location-icon {
  color: $color-blue;
  height: 20px;
  width: 20px;
}

.linkedin-job {
  color: $color-medium-gray;
  margin: 5px auto;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin: 5px auto;
  width: 50%;
}

.social-media-icon {
  color: $color-green;
  height: 30px;
  width: 30px;
}

.social-media-icon:hover {
  transform: scale(1.3);
}

.linkedin-description {
  color: $color-medium-gray;
  letter-spacing: .5px;
  line-height: 20px;
  margin: 5px auto 0;
  text-align: center;
  width: 95%;
}