@import 'vars';

.community-page {
  background-image: url('https://picsum.photos/g/1920/1080/?random');
  height: calc(100vh - 100px);
  width: 100%;
}
.map-feed-container {
  width: 65%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  float: left;
  // .map-container{
  //   height: 50vh;
  // }
  .feed-container {
    height: calc(100vh - 400px);
    overflow-y: scroll;
    background: #eee;
  }

  // .feed-container::-webkit-scrollbar-track
  // {
  // 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  // 	border-radius: 10px;
  //   background-color: #eee;
  // }
  //
  // .feed-container::-webkit-scrollbar
  // {
  // 	width: 12px;
  //   background-color: #eee;
  // }
  //
  // .feed-container::-webkit-scrollbar-thumb
  // {
  // 	border-radius: 10px;
  // 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  //   background-color: $color-green;
  // }
}
.connections-container {
  float: left;
  display: inline-block;
  width: 35%;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  background: #eee;

  .profile-wrapper {
    margin: 5% auto;
    position: relative;
    width: 40%;
  }
}

.community-sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  height: 100%;
  .profile-wrapper{

  }
}

// .connections-container::-webkit-scrollbar-track
// {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	border-radius: 10px;
//   background-color: #eee;
// }
//
// .connections-container::-webkit-scrollbar
// {
// 	width: 12px;
//   background-color: #eee;
// }
//
// .connections-container::-webkit-scrollbar-thumb
// {
// 	border-radius: 10px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//   background-color: $color-green;
// }

.form {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  position: relative;
  // vertical-align: middle;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.search-form {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  input{
    width: 25%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    min-width: 300px;
    font-size: 1.25em;
  }
  .autocomplete-dropdown {
    width: 25%;
    line-height: 40px;
    box-sizing: border-box;
    min-width: 300px;
    font-size: 1.25em;
    margin: auto;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    .suggestion {
      background: white;
      span {
      }
    }
    .suggestion-active {
      color: white;
      background: $color-green;
    }
  }
}
// .form-field {
//   width: 70%;
//   padding: 10px;
//   text-align: center;
//   display: block;
//   border: solid 2px rgb(191, 184, 184);
//   font-size: 2vw;
//   color: rgb(191, 184, 184);
//   border-radius: 6px;
//   margin: 0 auto;
// }
.submit-button {
  background-color: $color-green;
  width: 25%;
  min-width: 300px;
  padding: 12px;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1.25em;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}
.feed-item {
  border-bottom: 1px solid black;
  padding: 15px 0;
  .feed-section {
    display: inline-block;
    .feed-map-continater {
      height: 75px;
      width: 175px;
      display: inline-block;
    }

  }
  .feed-info {
    width: 60%;
    height: 100%;
    float: left;
    h3 {
      padding: 10px;
      font-size: 1.5em;
    }
    h4 {
      padding-top: 5px;
      padding-left: 30px;
    }
    p{
    // display: inline-block;
    }
    img{
      display: block;
      // display: inline-block;
      max-width: 125px;
    }
  }
  .feed-map {
    width: 40%;
    .toggle{
      display: inline-block;
      height: 75px;
      line-height: 75px;
    }
    p {
      padding: 10px;
      padding-left: 0;
    }
  }
}
