@import url('https://fonts.googleapis.com/css?family=Roboto');

$color-white: #ffffff;
$color-white-opacity:rgba(255, 255, 255, 0.66);
$color-light-gray: #D7D7D7;
$color-medium-gray: #828181;
$color-dark-gray: #323232;
$color-blue: #2278BE;
$color-green: #17C671;


$font-main: 'Roboto', sans-serif;