@import 'vars';

.info-box {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.info-box-text {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  margin: 5% 10px 5% 0;
}
h2.info-box-text {
  margin: 0;
}
h3.info-box-text {
  margin: 0;
}
.profile-pic {
  border-radius: 64px;
}
