@import 'vars';

.profile-page {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
}

.profile-sidebar {
  background-color: $color-light-gray;
  // border: 1px solid $color-medium-gray;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  width: 35%;

  hr {
    border: .5px solid $color-medium-gray;
    margin: 30px auto;
    width: 60%;
  }
}

.map-feed-container {
  .map-container{
    height: 300px;
  }
  // border: 1px solid $color-medium-gray;
  // box-sizing: border-box;
  // height: 400px;
  // margin-left: 5%;
  // width: 60%;
  .feed-container{
  overflow-y: scroll;
  }
}
